table, th, td {
    border: 1px solid  black;
    border-collapse: collapse;
    /* size, style, color */
    
} 

.my-company-table  

tr:nth-child(even) {
    background-color: aquamarine;
}
